@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  height: 100vh;
}

main {
  height: 100%;
  width: 100%;
  background-image: url(../img/night-bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 43%;
  background-color: #171823;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 15px;
  color: white;
}

.todo {
  max-width: 570px;
  width: 100%;
  padding: 0px 15px;
  position: relative;
  z-index: 100;
}
.todo__input {
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  background-color: #25273D;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.todo__add {
  display: block;
  height: 24px;
  width: 24px;
  border: 1px solid #393A4B;
  border-radius: 50%;
  margin: 0px 24px;
  cursor: pointer;
  position: relative;
}
.todo__add:hover .todo__arrow {
  opacity: 1;
}
.todo__arrow {
  width: 12px;
  position: absolute;
  z-index: 3;
  left: 24%;
  top: 26%;
  opacity: 0;
}
.todo__text {
  width: 75%;
  padding: 20px 24px 20px 0px;
  font-size: 18px;
  line-height: 18px;
  color: #C8CBE7;
  background-color: transparent;
}
.todo__list {
  overflow: hidden;
}
.todo__items {
  width: 100%;
  background-color: #25273D;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.todo__done {
  position: relative;
  min-height: 24px;
  min-width: 24px;
  border: 1px solid #393A4B;
  border-radius: 50%;
  margin: 0px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.todo__item {
  position: relative;
  padding: 20px 24px 20px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5px solid #393A4B;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.todo__task {
  width: 100%;
  display: block;
  font-size: 18px;
  color: #C8CBE7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.todo__info {
  width: 100%;
  padding: 15px;
  background-color: #25273D;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}
.todo__delete {
  background-image: url(../img/icon/x.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  position: absolute;
  right: 20px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  opacity: 0;
  cursor: pointer;
}
.todo__quantity {
  font-size: 14px;
  color: #5B5E7E;
}
.todo__options {
  font-size: 14px;
  font-weight: 700;
  color: #5B5E7E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 19px;
}
.todo__option {
  cursor: pointer;
}
.todo__option:hover {
  color: white;
}
.todo__clear {
  font-size: 14px;
  color: #5B5E7E;
  cursor: pointer;
}
.todo__clear:hover {
  color: #E3E4F1;
}

.todo__done:hover {
  border: 0px solid;
}
.todo__done:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 1px solid transparent;
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%) border-box;
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.todo__add:hover {
  border: 0px solid;
}
.todo__add:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 1px solid transparent;
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%) border-box;
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.todo__item:hover .todo__delete {
  opacity: 1;
}

.v {
  display: none;
}

.switch {
  background-color: transparent;
  -webkit-box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}

.sun-img, .moon-img {
  display: none;
  height: 26px;
  width: 26px;
}

.active {
  display: block;
}

.done {
  -webkit-text-decoration: line-through #4D5067;
          text-decoration: line-through #4D5067;
}
.done .todo__task {
  color: #4D5067;
}
.done .todo__done {
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px solid;
}
.done .todo__done .v {
  display: block;
}

.blue {
  color: #3A7CFD;
}

.slide {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.footer {
  position: absolute;
  bottom: 40px;
  color: #5B5E7E;
  text-align: center;
}

/*----------------------switch--------------------*/
.day {
  background-color: #F2F2F2;
  background-image: url(../img/day-bg.jpg);
}
.day .todo__input {
  background-color: white;
}
.day .todo__text {
  color: #393A4B;
}
.day .todo__items {
  background-color: white;
  -webkit-box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
          box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}
.day .todo__item {
  border-bottom: 0.5px solid #E3E4F1;
}
.day .todo__task {
  color: #494C6B;
}
.day .todo__info {
  background-color: #FFFFFF;
}
.day .todo__option:hover {
  color: #494C6B;
}
.day .done .todo__task {
  -webkit-text-decoration: line-through #D1D2DA;
          text-decoration: line-through #D1D2DA;
  color: #D1D2DA;
}

/*----------------------500px---------------------------*/
@media (max-width: 500px) {
  .todo__options {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 15px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 19px;
    background-color: #25273D;
    border-radius: 5px;
    z-index: 10;
  }

  .day .todo__options {
    background-color: #fff;
    -webkit-box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
            box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  }
}
@media (max-width: 360px) {
  h1 {
    font-size: 35px;
  }

  .todo__text, .todo__task {
    font-size: 16px;
  }

  .todo__info span {
    font-size: 12px;
  }
}